<!DOCTYPE html>
<html>
    <title>About</title>
    <p>I am a computer science student with a passion for finance and the applications of machine learning. My technical skills in programming, data analysis and machine learning, combined with my interest in financial markets and investment strategies, make me a strong candidate for roles in the finance industry. I am excited to use my knowledge of machine learning techniques to analyze and make predictions about financial data, and to help companies make data-driven decisions and stay ahead of the competition. I am looking for opportunities to gain hands-on experience and contribute to the growth and success of a company in the finance industry</p>
    <p>This software was developed with Django. I developed the stock visualization with Ajax. I devevelped the stock prediction of prices
        through Facebook prophet and Scikit-Learn. The animations and visualizations were developed through the framework, Streamlit.
    </p>
</html>